* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}
img {
    display: block;
    width: 100%;
    max-width: 100%;
}

.grid {
    display: grid;
    background-color: rgb(145, 207, 231);
    grid-gap: 16px;
    padding: 10px;
    @media (min-width: 320px){
        
        grid-template-columns: repeat(1, 1fr);
    }

    @media (min-width: 768px){
        
        grid-template-columns: repeat(1, 1fr);
    }
    @media (min-width: 960px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
}